.tabs {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
  margin-bottom: 20px;
}

.tab:first-child {
  border-radius: 5px 0 0 5px;
}

.tab:last-child{
  border-radius: 0 5px 5px 0;
}

.tab{    
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  background: #ffffff;
  box-sizing: border-box;
  flex: 1 0 auto;
  cursor: pointer;
  height: 100%;
  transition: all 0.5 ease-in-out;
}

.tab:hover {
  color: #2196f3;
}

.tab.__is-active {
  background: #2196f3;
  color: white;
  border: 1px solid #2196f3;
  transition: all 0.5 ease-in-out;
}

.tab.__is-active:hover{
  background: #2196f3;
  color: white;
  border: 1px solid #2196f3;
}